/* Réinitialisation des marges et styles de base */
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;  /* Style général de police */
}

/* Style pour l'en-tête */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: #f5f5f5; /* Couleur de fond de l'en-tête */
}

/* Style pour le titre */
header h1 {
    font-size: 2.5em;  /* Taille du texte */
    font-weight: bold; /* Mettre en gras */
    margin: 0;
    color: #333; /* Couleur du texte */
}

/* Style pour le logo */
#logo {
    position: absolute;
    top: 10px;
    right: 20px;  /* Positionné dans le coin supérieur droit */
    width: 80px;  /* Taille du logo */
    height: auto;
}

/* Style pour la carte */
#map {
    flex-grow: 1;  /* Remplit tout l’espace restant */
    margin: 20px;  /* Marge de 20px autour de la carte */
    height: calc(100vh - 140px);  /* Hauteur ajustée pour compenser l'espace occupé par le header */
    width: calc(100% - 40px);  /* Largeur ajustée pour tenir compte des marges */
}
